<!DOCTYPE html>
<html lang="en" data-theme="cupcake">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>HAM</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

</head>

<body>




    {% include 'components/nav.html' %}



    {% include 'components/footer.html' %}





    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


</body>

</html>