<!DOCTYPE html>
<html lang="en" data-theme="cupcake">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>HAM</title>
    <link href="{{ url_for('static', filename='daisyUI/daisyui@5.css') }}" rel="stylesheet" />

</head>

<body>




    {% include 'components/nav.html' %}



    {% include 'components/footer.html' %}




    <script src="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/browser.min.js"></script>


</body>

</html>