<div class="navbar bg-base-100 shadow-sm ">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                </svg>

            </div>目录 <ul tabindex="-1"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li><a href="/">首页</a></li>

                <li><a href="aprsmap">APRS地图</a></li>
                <li><a href="fmomap">FMO地图</a></li>
                <li><a href="about">关于</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl"> {{ name }}</a>
    </div>
    <div class="navbar-end">
        快乐每一天！

    </div>
</div>